<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head th:replace="fragments/head">
</head>
<body>
<header th:replace="fragments/header"></header>
<section class="container">
    <h1 th:text="${title}"></h1>

    <div class="card-container">
    <div class="cardClass" th:each="book: ${books}">
        <div class="img">
        <img th:alt="${title} + 'cover image'" th:src="${book.imageURL}" class="card-image"/>
        </div>

        <div class="card-body">
            <div class="card-text-body">
                <span class="card-title" th:text="${book.title}"></span>
                <span th:text="${'By ' + book.author}"></span>
                <span th:text="${book.category}"></span>
                <span class="date" th:text="'Started on ' + ${book.startingDate}"></span>
                <span class="date" th:text="'Finished on ' + ${book.finishDate}"></span>
                <div class="star-rating">
                   <span th:class="star">star</span>
                    <span class="rating" th:text="${book.rating} + '/5'"></span>
                </div>
                <br>
                <b><span>Review: </span></b>
                <span th:class="review" th:text="${book.review}"></span>
                <div class="edit-btn">
                <a class="create" sec:authorize="isAuthenticated()" th:href="'/books/edit/'+${book.id}" >
                    <button class="edit-book">Edit</button>
                </a>
                <a class="delete" sec:authorize="isAuthenticated()" th:href="'/books/delete/'+${book.id}" >
                    <button class="delete-book">Delete</button>
                </a>
                </div>
            </div>
        </div>
    </div>
    </div>


    <footer th:replace="fragments/footer"></footer>
</section>

</body>

