<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head"></head>
<body>
<header th:replace="fragments/header"></header>
<section class="container">
    <h1 th:text="${title}"></h1>
    <form th:action="@{/books/new}" th:object="${book}" method="post">
        <div class="form-group">
            <input type="hidden" th:field="*{id}">
            <label class="col-md2" for="title">Title</label>
            <input th:field="*{title}" type="text" class="col-md6 form-control form-control-sm" id="title"
                   placeholder="Enter title">
        </div>
        <div class="form-group">
            <label class="col-md2" for="author">Author</label>
            <input th:field="*{author}" type="text" class="col-md6 form-control form-control-sm" id="author"
                   placeholder="Enter author">
        </div>
        <div class="form-group">
            <label class="col-md2" for="category">Category</label>
            <input th:field="*{category}" type="text" class="col-md6 form-control form-control-sm" id="category"
                   placeholder="Enter category">
        </div>
        <div class="form-group">
            <label class="col-md2" for="category">Image</label>
            <input th:field="*{imageURL}" type="text" class="col-md6 form-control form-control-sm" id="image"
                   placeholder="Enter image link">
        </div>
        <div class="form-group">
            <label class="col-md2" for="category">Starting date</label>
            <input th:field="*{startingDate}" type="text" class="col-md6 form-control form-control-sm" id="startingDate"
                   placeholder="Enter starting date">
        </div>
        <div class="form-group">
            <label class="col-md2" for="category">Finish date</label>
            <input th:field="*{finishDate}" type="text" class="col-md6 form-control form-control-sm" id="finishinDate"
                   placeholder="Enter finish date">
        </div>
        <div class="form-group">
            <label class="col-md2" for="category">Review</label>
            <input th:field="*{review}" type="text" maxlength="100"  class="col-md6 form-control form-control-md" id="review"
                   placeholder="Write a review!">
        </div>
        <div class="form-group">
            <label class="block text-gray-700 text-sm font-bold mb-2" for="rating">
                Rating
            </label>
            <select th:field="*{rating}" id="rating" class="col-md6 form-control form-control-xs">
                <option th:value="${book.rating}"></option>
                <option th:value="1">1</option>
                <option th:value="2">2</option>
                <option th:value="3">3</option>
                <option th:value="4">4</option>
                <option th:value="5">5</option>

            </select>
        </div>

        <div class="card-footer ">
            <input type="submit" class="btn btn-primary btn-sm" value="Save"/>
        </div>
    </form>
</section>
<footer th:replace="fragments/footer"></footer>
</body>