.container {
    margin: 0 auto;

}

.card-container {
    display: grid;
    grid-template-columns: max-content max-content;
    grid-template-rows: 1fr;
    gap: 0 3em;
    grid-template-areas:
    ". .";
}

.cardClass {
margin: 0 auto 4rem;
background-color: rgb(247, 247, 247);
max-width: 100%;
width: 32rem;
height: 400px;
display: flex;
}

.img {
width: 250px;
height: 400px;
}

.card-image{
max-width: 100%;
object-fit: cover;
text-align: center;
}

.card-title {
font-weight: 900;
}
.card-text-body {
display: flex;
flex-direction: column;
min-width: 0;
}

.card-body {
font-weight: 400;
position: relative;
}

textarea {
width: 220px;
align-self: center;
}

.edit-btn {
position: absolute;
width: 80%;
bottom: 20px;
left: 50%;
margin: 0 0 0 -40%;

}

.edit-book, .delete-book {
width: 100%;
margin-top: 1rem;
text-align: center!important;
color: black;
background-color: goldenrod;
border-color: black;
}

.edit-book:hover, .delete-book:hover {
color: black;
background-color: goldenrod;
border-color: black;
}

a {
text-decoration: none!important;
}